 

<div class="card p-3 mt-3">
<a href="/logout" class="text text-primary font-weight-bold">Logout</a>
<h3 class="text text-center my-3">Users</h3>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>

    <% for(let i=0; i<users.length; i++) { %>
      <tr>
      <td><%=users[i].firstName%></td>
      <td><%=users[i].lastName%></td>
      <td><%=users[i].email%></td>
      <td><%=users[i].city%></td>
      <td><%=users[i].age%></td>
      <td><%=users[i].gender%></td>
    </tr>     
    <% } %>  


  </tbody>
</table>
</div>